<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vn.bananavietnam.ict.banana.db.mapper.Bnn0049AreaListMapper">

	<select id="getSearchDataTotalCounts" flushCache="true" parameterType="map" resultType="java.lang.String">
		SELECT COUNT(*)
		FROM IVB_M_AREA A 
		WHERE 1= 1
		AND A.FARM_ID = #{farmId}
		AND A.DELETE_FLAG = '0'
		ORDER BY A.AREA_ID
	</select>
	
</mapper>