@charset "UTF-8";
/* ==========================================================================
0005 STYLES
========================================================================== */

.image {
	color: blue;
	cursor: pointer;
}

/* ==========================================================================
POPUP LAYOUT GENERAL STYLES 
============================================================================= */
/* Operation detail popup styles */
.operationDetail-popup {
	width: 700px;
	height: 500px;
	position: absolute;
	z-index: 999;
	display: none;
	border: 1px solid #000000;
	background-color: #ffffff;
}